{%extends "blog/bbase.html"%}

{%block content%}
	<div id="recent-posts">
		
		<h2>Recent Posts</h2>
		<div style="clear: both; height: 40px;">&nbsp;</div>
		{%include 'blog/pages.html'%}
		<div style="clear: both; height: 40px;">&nbsp;</div>
		<ul>
			{%for post in pages.object_list%}
			<li>
				<h3><a href="{%url 'blog.views.post' post.id%}">{{post.title}}</a></h3>
				<p class="byline"><span>Posted on {{post.created}}</span></p>
				<p>{{post.body|linebreaks}}</p>
			</li>
			{%endfor%}
		</ul>
		<div style="clear: both; height: 40px;">&nbsp;</div>
		{%include 'blog/pages.html'%}
		<div style="clear: both; height: 40px;">&nbsp;</div>
	</div>
	
	
{%endblock%}